/* navbar */
   .navbar{
       display: flex;
       flex-direction: column;
   }
  
   .navbar ul li a{
    font-size: 12px;
    padding-bottom: 2px;
    margin: 2px 5px;
   }
/* home */
    .home div p{
        font-size: 12px;
    }
    .home div {
        margin: 10px 0px;
    }
/* products */
    
   .pizzas{
       margin: 25px 0px;
   }
   .flex{
       margin: 2px;
   }
   .flex h2 {
    margin: 6px 0px;
    font-size: 18px;
    }
   .flex span {
    font-size: 10px;
    }
   .pizzas img{
       width: 120px;
       height: 120px;
   }

   .primary{
       font-size: 22px;
       padding: 2px 0px;
       margin: 5px 0px;
   }
/* details */
    .form2 div{
        width: 200px;
        /* align-items: center; */
    }
    .form2 div label{
        font-size: 14px;
    }
    .form2 div input{
        width: 200px;
        height: 25px;
        font-size: 10px;
     }
/* partners */
    .partners img{
        height: 70px;
    width: 130px;
    }
    .partners div{
        font-size: 18px;
        padding: 0px 4px;
    }
/* footer */
footer{
    font-size: 12px;
}